<a href="https://colab.research.google.com/github/naveen-mukala/IBM-DATASCIENCE-COURSEWORK/blob/main/Data_Science_Tools_and_Ecosystem_Overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Introduction
## In this notebook, we will explore various data science tools, languages, and libraries. We'll also perform some basic arithmetic operations and time conversions.

## Data Science Languages
Some of the popular languages used in Data Science are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

## Data Science Libraries
Some of the commonly used libraries in Data Science include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Data Science Tools

| Category | Tools |
|----------|-------|
| Data Processing | Apache Spark, Apache Flink |
| Data Visualization | Tableau, Power BI |
| Machine Learning | scikit-learn, TensorFlow |
| Development Environments | Jupyter Notebook, RStudio |

## Arithmetic Expression Examples
In this section, we'll introduce some basic arithmetic expressions.

In [3]:
### Multiply and Add Numbers


# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

17

In [4]:
### Convert Minutes to Hours


# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Objectives
The main objectives of this notebook are:
- List popular languages for Data Science
- Introduce commonly used Data Science libraries
- Demonstrate basic arithmetic operations in Python
- Show how to convert units (minutes to hours)

## Author
John Doe